
#fitem_singlesection-format-submit-button > .col-md-3 {
    display: none !important;
}
#page-course-view-singlesection #page-footer {
    display: none;
}

.sub-heading {
    font-family: "Neue Haas Unica Regular";
    font-size: 18px;
    color: #2F3332;
}

.add-sections {
    display: none;
}

.intro {
    display: flex;
    margin-bottom: 50px;
}
.summary {
    flex: 1;
    width: 70%;
    margin-right: 30px;
    padding-top: 20px;
    padding-right: 30px;
    line-height: 2.0;
}

/*.welcome-image {*/
/*    margin-bottom: 50px;*/
/*}*/


.meta-data {
    margin-top: 30px;
    flex: 0.4;
    height: 50%;
}

.bottom {
    display: flex;
}

.bottom .start-course {
    flex: 1;
}

.bottom .first-button {
    flex: 0.5;
}
.bottom .restart-button {
    flex: 0.5;
    color: #593c6e !important;
    font-weight: bold;

}

.btn-restart {
    color: #593c63 !important;
    font-family: "Neue Haas Unica Extra Bold";
    font-size: 18px;
}

.progress {
    width: 160px;
}

.progress-bar {
    background-color: #593c6e;
}
.concluded {
    font-weight: 700;
}
.ami-star {
    font-size: 110%;
    color: #9497a2 !important;
}
.ami-stand {
    font-size: 170%;
    width: 1px;
    color: #9497a2;
}

.btn-restart {
    color: #593c6e !important;
}

