
#fitem_singlesection-format-submit-button > .col-md-3 {
    display: none !important;
}
#page-course-view-singlesection #page-footer {
    display: none;
}

.sub-heading {
    font-size: 18px;
    color: #2F3332;
}

.add-sections {
    display: none;
}

.intro {
    display: flex;
    margin-bottom: 50px;
}
.summary {
    flex: 1;
    width: 70%;
    margin-right: 30px;
    padding-top: 20px;
    padding-right: 30px;
    line-height: 2.0;
}

.meta-data {
    margin-top: 30px;
    flex: 0.4;
    height: 50%;
}

.bottom {
    display: flex;
}

.bottom .start-course {
    flex: 1;
}
.bottom .first-button {
    flex: 0.5;
}
.bottom .restart-button {
    flex: 0.5;
    font-weight: bold;
    text-decoration: none !important;
}
.restart-button, .first-button, .start-course{
    text-decoration: none !important;
}

.btn-restart {
    font-size: 18px;
}

.progress {
    width: 160px;
}

.progress-bar {
    background-color: #593c6e;
}
.concluded {
    font-weight: 700;
}

@media only screen and (max-width: 885px) {
    .progress-part {
        margin: auto !important;
    }
}

